<ion-view view-title="Whats On">
    <ion-content >
        <div class="list">

            <div class="item border-bottom">
                <h2 class="title">Polemizar</h2>
            </div>

            <a ng-repeat="item in topics" class="item item-thumbnail-left item-icon-right small-thumbnail" ng-click="gotoThread(item)">
                <img src="img/chat.png" >
                <p>{{ item.title }} (150)</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        </div>

        <ion-floating-button click="gotoAddTopic()" has-footer="false" button-color="#EDB458" icon="ion-plus" iconColor="#fff">
        </ion-floating-button>

    </ion-content>
</ion-view>