<ion-view view-title="Whats On">
    <ion-content>
        <div class="list">

            <div class="item border-bottom">
                <h2 class="title">Quintana en el podio (150)</h2>
            </div>

            <div ng-repeat="item in threadMessages" class="row">

                <!-- Others -->

                <div class="col col-20 center" ng-if="!isItMyPost(item)">
                    <img src="img/female.png" />
                    <br />{{ item.name }}
                </div>

                <div class="col col-80" ng-if="!isItMyPost(item)" >
                    <div class="others-message">
                        {{ item.title }}
                    </div>
                    <div class="time left">
                        {{ getDateText(item) }}
                    </div>
                </div>

                <!-- Mine -->

                <div class="col col-80 col-offset-20 right" ng-if="isItMyPost(item)">
                    <div class="message">
                        {{ item.title }}<br />
                    </div>
                    <div class="time right">
                        {{ getDateText(item) }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

        </div>

         <ion-infinite-scroll ng-if="doInfiteScroll"
    on-infinite="loadMore()"
    distance="1%" immediate-check="false">
  </ion-infinite-scroll>

    </ion-content>


    <div class="bar bar-footer" ng-if="userProfile.registered">
        <input type="text" placeholder="Ingresa tu comentario" ng-model="inputMessage.text">
            <img src="img/send.png" ng-click="addComment()" />
    </div>

    <div class="bar bar-footer" ng-if="!userProfile.registered">
            <div class="buttons" ng-click="doLogin()">
                <button class="button">Iniciar sesi&oacute;n para comentar</button>
            </div>
        </div>
    </div>
</ion-view>