<ion-view view-title="Whats On">
    <ion-content>
        <div class="list">

            <div class="item border-bottom">
                <h2 class="title">Quintana en el podio (150)</h2>
            </div>

            <div ng-repeat="item in threadMessages" class="row">

                <!-- Others -->

                <div class="col col-80" ng-if="!isItMyPost(item)" >
                    <div class="message">
                        {{ item.title }}
                    </div>
                    <div class="time left">
                        hace 2 horas
                    </div>
                </div>

                <div class="col col-20 center" ng-if="!isItMyPost(item)">
                    <img src="img/female.png" />
                    <br />{{ item.name }}
                </div>

                <!-- Mine -->

                <div class="col col-20 center" ng-if="isItMyPost(item)">
                    <img src="img/male.png" />
                    <br />Tú
                </div>

                <div class="col col-80" ng-if="isItMyPost(item)">
                    <div class="message">
                        {{ item.title }}
                    </div>
                    <div class="time right">
                        {{ getDateText(item) }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col col-80">
                    <div class="message">
                        Han sido días muy duros, pero vamos con toda!!
                    </div>
                    <div class="time left">
                        hace 2 horas
                    </div>

                </div>
                <div class="col col-20 center">
                    <img src="img/female.png" />
                    <br />Yohana Velasquez
                </div>
            </div>

            <div class="row">
                <div class="col col-80">
                    <div class="message">
                        El tour es la mejor compentencia del mundo, a nadie se le debería olvidar
                    </div>
                    <div class="time left">
                        ayer
                    </div>

                </div>
                <div class="col col-20 center">
                    <img src="img/male.png" />
                    <br />Camilo Perez
                </div>
            </div>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

        </div>

    </ion-content>


    <div class="bar bar-footer" ng-if="userProfile.registered">
        <input type="text" placeholder="Ingresa tu comentario" ng-model="inputMessage.text">
            <img src="img/send.png" ng-click="addComment()" />
    </div>

    <div class="bar bar-footer" ng-if="!userProfile.registered">
            <div class="buttons" ng-click="doLogin()">
                <button class="button">Iniciar sesi&oacute;n para comentar</button>
            </div>
        </div>
    </div>
</ion-view>