<ion-view view-title="Whats On">
    <ion-content >
        <div class="list">

            <div class="item border-bottom">
                <h2 class="title">Lo más popular</h2>
            </div>

            <a class="item item-thumbnail-left item-icon-right small-thumbnail" ng-click="gotoThread()">
                <img src="img/chat.png" >
                <p>Quintana en el podio (150)</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right small-thumbnail" href="#">
                <img src="img/dancing.png" >
                <p>Rumba en Trilog&iacute;a (40)</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item border-bottom">
                <h2 class="title">¿Qué quieres hacer?</h2>
            </div>

            <a class="item item-thumbnail-left item-icon-right small-thumbnail" ng-click="gotoCategory()">
                <img src="img/chat.png" >
                <h2>Polemizar</h2>
                <p>Vamos a expresarnos!</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right small-thumbnail" href="#">
                <img src="img/dancing.png" >
                <h2>Salir a callejear</h2>
                <p>¿Quieres parcharte y no sabes que hacer?</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right small-thumbnail" href="#">
                <img src="img/meet.png" >
                <h2>Conocer gente ch&eacute;vere</h2>
                <p>¿Quieres hablar desde la comodidad de tu casa?</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        </div>

    </ion-content>
</ion-view>