<ion-view view-title="Whats On">
    <ion-content>

        <div class="list">

            <div class="item no-background">
                <h2>Selecciona tu g&eacute;nero</h2>
            </div>

            <div class="item item-avatar" ng-click="selectGender('male')">
                <img src="img/male-big.png" >
                <h2>Niño</h2>
            </div>

            <div class="item item-avatar" ng-click="selectGender('female')">
                <img src="img/female-big.png" >
                <h2>Niña</h2>
            </div>

            <div class="item item-icon-left no-background assertive" style="color: #D91C5E">
                <i class="icon ion-ios-information-outline"></i>
                <p style="color: #D91C5E">Este servirá para indicar tu ícono en la aplicaci&oacute;n.</p>
            </div>

        </div>

    </ion-content>
</ion-view>